
/* @import "install-button.css"; */

@font-face {
    font-family: 'CommandoCommando';
    src: url('fonts/commando-webfont.eot');
    src: url('fonts/commando-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/commando-webfont.woff') format('woff'),
         url('fonts/commando-webfont.ttf') format('truetype'),
         url('fonts/commando-webfont.svg#CommandoCommando') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #151515;
    width: 100%;
    height: 100%;
}

body.small {
    font-size: .5em;
}

canvas {
    display: block;
    width: 100%;

    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}

#size-wrapper {
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#game-over-overlay, #game-over, #start-screen, #store-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}

#start-screen, #store-screen {
    background: url('../img/background.png');
    background-size: 100% 100%;
    display: block;
    height: 100%;
    color: #f0f0f0;
    text-align: center;
}

#start-screen .title {
    margin-top: 1.75em;
    font-size: 5em;
}

#start-screen h1 {
    font-size: 1em;
    font-family: CommandoCommando;
    text-shadow: 0 0 5px white;
    display: inline;
}

#start-screen .buttons {
    display: inline-block;
    margin-top: 2em;
}

#start-screen img {
    display: inline-block;
    vertical-align: bottom;
    padding-bottom: .25em;
}

.small #start-screen img {
    height: 1em;
}

#start-screen button {
    display: block;
    margin: 1em 0;
    border: 1px solid green;
    border-radius: .5em;
    font-size: 2em;
    padding: .5em 0;
    width: 10em;
    font-family: sans-serif;
    background-color: black;
    color: white;
    border: .1em solid #d0d0d0;
}

#store-screen {
    display: none;
    overflow: auto;
}

#store-screen .item {
    margin: 1.5em auto;
    padding: 2em 0;
    background-color: rgba(0, 0, 0, .4);
    width: 60%;
}

.small #store-screen img {
    width: 50%;
}

#store-screen .content, #store-screen .purchase {
    display: inline-block;
    vertical-align: top;
}

#store-screen button.back {
    font-size: 1.5em;
    border: 1px solid #d0d0d0;
    border-radius: .5em;
    background-color: black;
    color: white;
    padding: .25em 1em;
}

#store-screen button.back:nth-of-type(2n-1) {
    margin-top: 1.5em;
}

#store-screen button.back:nth-of-type(2n) {
    margin-bottom: 1.5em;
}

#store-screen .purchase {
    padding-top: 3em;
    margin-left: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.5em;
    text-align: center;
    width: 5em;
    color: #ccffdd;
}

#store-screen .purchase button {
    margin-top: .5em;
    font-size: .8em;
    border: 1px solid #d0d0d0;
    padding: .25em 1em;
}

#game-over-overlay {
    height: 100%;
    opacity: .5;
    background-color: black;
}

#game-over {
    color: white;
    text-align: center;
    margin-top: 20%;
    font-size: 1.5em;
    z-index: 10;
}

#game-over button {
    font-size: 1em;
}

#appbar {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    z-index: 10;
    padding-right: 1em;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#appbar .button {
    font-size: 1.5em;
    float: right;
    margin: 1em .5em;

    width: 2em;
}

#continue {
    display: none;
}

#controls {
    display: none;
}

.input {
    background-color: #fcc;
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 100%;
    opacity: 0;
}

.dpad {
    left: 0;
}

.fire {
    right: 0;
}

.score, .life {
    color: #fff;
    float: left;
    font-family: sans-serif;
    font-size: 2em;
    line-height: 3em;
    margin-left: 1em;
    width: 25%;
}

.debug {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}