
/* @import "install-button.css"; */

@font-face {
    font-family: 'CommandoCommando';
    src: url('fonts/commando-webfont.eot');
    src: url('fonts/commando-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/commando-webfont.woff') format('woff'),
         url('fonts/commando-webfont.ttf') format('truetype'),
         url('fonts/commando-webfont.svg#CommandoCommando') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #151515;
    max-height: 100%;
}

body.small {
    font-size: .5em;
}

button {
    border-radius: 3px;
    font-size: 1.75em;
    padding: .5em 1em;
    font-family: sans-serif;
    color: white;
    border-top: 2px solid #dddddd;
    border-left: 2px solid #dddddd;
    border-bottom: 2px solid #999999;
    border-right: 2px solid #999999;
    background-color: #222222;
}

button:active {
    border: 2px solid #999999;
}

canvas {
    display: block;
    width: 100%;
    margin-top: 50px;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}

#size-wrapper {
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#game-over-overlay, #game-over, #start-screen, #store-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    display: none;
}

#start-screen, #store-screen {
    background: url('../img/background.png');
    display: block;
    color: #f0f0f0;
    text-align: center;
}

#start-screen .title {
    margin-top: 1em;
    font-size: 3em;
}

#start-screen h1 {
    font-size: 1em;
    font-family: CommandoCommando;
    font-strength: normal;
    margin: 0;
}

#start-screen .buttons {
    font-size: .9em;
}

#start-screen button {
    width: 5em;
    margin: 0 .25em;
    padding: .5em 3em;
}

#store-screen {
    display: none;
}

#store-screen h1 {
    font-size: 3em;
    margin: 1.5em 0;
    clear: both;
}

#store-screen .items {
    overflow: hidden;
}

#store-screen .item {
    width: 80%;
    overflow: hidden;
    margin: 2em auto;
    border: 3px solid #222222;
    position: relative;

    border-radius: 3px;
    padding: 1.5em;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#store-screen .item.selected {
    border: 3px solid #2244ff;
}

#store-screen h4 {
    margin: 0;
    margin-bottom: .5em;
    font-size: 2em;
}

#store-screen .item button {
    font-size: 1em;
    margin: 1em 0;
}

#store-screen .item .purchased {
    position: absolute;
    top: 0;
    right: 0;
    font-style: italic;
    margin: .75em;
    color: pink;
}

.small #store-screen .item {
    width: auto;
    margin: 2em;
}

.small #store-screen .item button {
    font-size: 2em;
}

.small #store-screen .item .desc {
    font-size: 2em;
}

.small #store-screen .item .purchased {
    font-size: 1.75em;
}

#store-screen .price {
    margin-top: 1em;
    font-size: 1.5em;
}

#store-screen button.back {
    margin-top: 2em;
}

#store-screen button.back.top {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    margin-top: 0;
}

#store-screen button.back.top:active {
    border: 2px solid #666666;
}

#store-screen button.back {
    margin-bottom: 1.5em;
}

#game-over-overlay {
    height: 100%;
    opacity: .5;
    background-color: black;
}

#game-over {
    color: white;
    text-align: center;
    margin-top: 10%;
    font-size: 1.5em;
    z-index: 10;
}

#game-over button {
    font-size: 1em;
}

#appbar {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-color: black;

    width: 100%;
    z-index: 10;
    padding-right: 1em;
    height: 50px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#appbar .button {
    float: right;
    height: 50px;
    margin-left: 5px;
}

#continue {
    display: none;
}

#controls {
    display: none;
}

.input {
    //background-color: #fcc;
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 100%;
}

.dpad {
    left: 0;
}

.fire {
    right: 0;
}

.score, .life {
    color: #fff;
    float: left;
    font-family: sans-serif;
    line-height: 3em;
    margin-left: 1em;
    width: 25%;
}

.debug {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}