
/* @import "install-button.css"; */

html, body {
    margin: 0;
    padding: 0;
    font-size: 0;
}

/* The global font size must be 0 so whitespace in the markup doesn't
   add scrollbars, so reset it inside the common block elements */
div, section, header {
    font-size: 13px;
}
