
/* @import "install-button.css"; */

html, body {
    margin: 0;
    padding: 0;
    font-size: 0;
    background-color: #151515;
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
    width: 100%;

    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}

#size-wrapper {
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#game-over-overlay, #game-over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}

#game-over-overlay {
    height: 100%;
    opacity: .5;
    background-color: black;
}

#game-over {
    color: white;
    text-align: center;
    margin-top: 20%;
    font-size: 1.5em;
}

#game-over button {
    font-size: 1em;
}

#controls {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
}

#controls button {
    font-size: 1.5em;
}

.input {
    background-color: #fcc;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    width: 60px;
    height: 60px;
}

.dpad {
    left: 10px;
}

.fire {
    right: 10px;
}

.score {
    background: none;
    color: #fff;
    font-family: monospace;
    position: absolute;
    right: 10px;
    text-align: right;
    top: 10px;
    width: 4em;
}

/* The global font size must be 0 so whitespace in the markup doesn't
   add scrollbars, so reset it inside the common block elements */
div, section, header {
    font-size: 13px;
}
