
/* @import "install-button.css"; */

html, body {
    margin: 0;
    padding: 0;
    background-color: #151515;
    width: 100%;
    height: 100%;
}

body.small {
    font-size: .5em;
}

canvas {
    display: block;
    width: 100%;

    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}

#size-wrapper {
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#game-over-overlay, #game-over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}

#game-over-overlay {
    height: 100%;
    opacity: .5;
    background-color: black;
}

#game-over {
    color: white;
    text-align: center;
    margin-top: 20%;
    font-size: 1.5em;
    z-index: 10;
}

#game-over button {
    font-size: 1em;
}

#appbar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    z-index: 10;
    padding-right: 1em;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#appbar .button {
    font-size: 1.5em;
    float: right;
    margin: 1em .5em;

    width: 2em;
}

#continue {
    display: none;
}

.input {
    background-color: #fcc;
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 100%;
    opacity: 0;
    box-shadow: inset 0 0 1px black;
}

.dpad {
    left: 0;
}

.fire {
    right: 0;
}

.score, .life {
    color: #fff;
    float: left;
    font-family: sans-serif;
    font-size: 2em;
    line-height: 3em;
    margin-left: 1em;
    width: 25%;
}

.debug {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}